/* --- NO GRID CSS --- */
/* --- BASE CSS START --- */
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
/* --- BASE CSS END --- */
* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	display: block;
	color: #413746;
	background-color: #ffffff;
	margin: 0;
	font-weight: 400;
	font-family: "Walsheim","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
#app {
	min-height: 75%;
}
.header-wrapper {
    position: relative;
    left: 0;
    width: auto;
    margin: 0;
    padding: 0;
}
.navbar {
    position: relative;
    min-height: 64px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
.top-menu {
    z-index: 500;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #fbfbfa;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}
.top-menu .navbar-header {
    height: 64px;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding-left: 10px;
    margin-right: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
	font-size: 24px;
}
.collapsed {

}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.top-menu .navbar-collapsed-buttons {
    float: right;
}
.navbar-btn {
    margin-top: 15px;
    margin-bottom: 15px;
}
a {
    color: #1bb776;
	text-decoration: none;
	background-color: transparent;
}
.cart-icon {
	position: relative;
	font-size: 24px;
	color: #413746;
    height: 64px;
}
.cart-count {
	position: relative;
	font-size: 14px;
	color: #413746;
    height: 64px;
}
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */

@media (min-width: 576px) {
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */
}

@media (max-width: 767px) {
	.top-menu .navbar-toggle {
		margin-left: 5px;
		border: 0;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.navbar {
		border-radius: 0;
	}
	.navbar-header {
		float: left;
	}
	.navbar-toggle {
		display: none;
	}
	.top-menu .navbar-collapsed-buttons {
		display: none;
	}
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}