/* --- NO GRID CSS --- */
/* --- BASE CSS START --- */
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
/* --- BASE CSS END --- */

/* For all sizes up to 576 */
@media (max-width: 575.99px) {
/* --- GENERAL --- */
* {
    box-sizing: border-box;
}
html, body {
	height: 100%;
}
html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body {
	display: block;
	color: #413746;
	background-color: #ffffff;
	margin: 0;
	font-weight: 400;
	font-family: "Walsheim","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
}
#app {
	min-height: 75%;
}
.wide-container {
    position: relative;
    left: 0;
    width: auto;
    margin: 0;
    padding: 0;
}
.navbar-wrapper {

}
.top-menu {
    z-index: 500;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #fbfbfa;
}
.navbar {
    position: relative;
    min-height: 64px;
    margin-bottom: 0;
    border: 1px solid transparent;
}
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
/* --- GENERAL --- */
/* --- HOME --- */
/* --- CART --- */
/* --- ADMIN --- */	
}