* {
	box-sizing: border-box;
  }

body {
	margin: 0;
	overflow-y: scroll;
}

#grid-container {
	height: 100vh;
	display: grid;
	grid-template-rows: 40px 10fr 25px;
	grid-template-areas:
		"header header"
		"main main"
		"footer footer";
}

#headerContent {
	grid-area: header;
	background-color: #e9e9e9;
	padding: 10px;
	text-align: left;
}

#mainContent {
	grid-area: main;
	background-color: #f7f7f5;
}

.logoWrap {
	float: left;
	margin-right: 20px;
}

.inner-menu {
	display: inline-block;
	float: right;
	position: relative;
}

.menuWrap {
	float: right;
	margin: auto;
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.3;
	position: relative;
	display: inline-block;
	width: 100%;
}

.menuWrap ul li a {
	display: inline-block;
}

.menuWrap ul {}

.menuWrap li {
	float: left;
	margin-left: 25px;
	list-style-type: none;
}

.menuWrap a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	height: 25px;
	line-height: 25px;
	box-sizing: border-box;
}

#footerContent {
	display: flex;
	grid-area: footer;
	background-color: #413746;
	width: 100%;
	height: 1.1rem;
}

.footer-text {
	display: flex;
	width: 100%;
	color: inherit;
	text-decoration: none;
	justify-content: center;
	color: #ffffff;
}

.mainImageContainer {}

.mainGrid {
	display: grid;
	gap: 30px 30px;
	margin-bottom: 50px;
	grid-template-rows: 0.5fr 1fr;
	grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr 0.05fr;
	grid-template-areas:
		"m m m m m m"
		"1 a b c d 2";
	grid-row-end: 1px;
	background-color: #ffffff;
	z-index: 10;
}

.mainGrid img {
	width: 100%;
	height: auto;
}

.mainGrid h3 {
	text-align: center;
}

.mainGrid p {
	text-align: center;
}

.grid1 {
	width: 100%;
	height: 500px;
	grid-column: 1 / 7;
}

.grid1 img {
	position: absolute;
	top: auto;
	left: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 500px;
	grid-column: 1 / 7;
}

.grid-item1 {
	grid-area: a;
}

.grid-item1:hover {
	height: auto;
	background-color: #e9e9e5;
	cursor: pointer;
}

.grid-item2 {
	grid-area: b;
}

.grid-item2:hover {
	height: auto;
	background-color: #e9e9e5;
	cursor: pointer;
}

.grid-item3 {
	grid-area: c;
}

.grid-item3:hover {
	height: auto;
	background-color: #e9e9e5;
	cursor: pointer;
}

.grid-item4 {
	grid-area: d;
}

.grid-item4:hover {
	height: auto;
	background-color: #e9e9e5;
	cursor: pointer;
}

#productBox {
	z-index: 5;
	background-color: #FFFFFF;
	width: 300px;
	height: 500px;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	border: #000000;
	border-style: solid;
	border-width: 2.2px;
	transform: translate(-50%, -50%);
}
#productBox img {
	z-index: 4;
	width: 100%;
	height: auto;
}
#productBox .slides img {
	z-index: 4;
	width: 25%;
	height: auto;
	float: left;
}
#productBox h3 {
	z-index: 4;
	text-align: center;
}
#productBox p {
	z-index: 4;
	text-align: center;
}

.prodOverlay {
	display: fixed;
	width: 100%;
	height: 100%;
	background-color: #8f8f8f;
	z-index: 6;
	opacity: 0.5;
}

.prodShow {
	z-index: 7;
	width: 200%;
	height: 200%;
	position: fixed;
}

.hidden {
	visibility: hidden;
}


.mobileMenu
{
	display: none;
}

@media only screen and (max-width: 375px) {
	* {
		box-sizing: border-box;
	  }
	
	#productBox {width: 80vw; height: 80vh;}

	.grid1 {
		width: 100%;
		height: 215px;
		grid-column: 1 / 2;
	}
	.grid1 img {
		position: absolute;
		top: 0;
	}

	.mainGrid {
		width: auto; 
		height: 100px;
		display: grid;
		gap: 20px 20px;
		margin-bottom: 0px;
		grid-template-rows: 0.5fr 1fr 1fr;
		grid-template-columns: 0.05fr 1fr 1fr 0.05fr;
		grid-template-areas:
			"m m m m"
			"1 a b 2"
			"1 c d 2";
		grid-row-end: 1px;
		background-color: #ffffff;
		z-index: 10;
	}
	.mainGrid img {
		width: 100%;
		height: auto;
	}
	#footerContent
	{
		display: none;
	}

	#headerContent {
		display:none;
	}
	.mobileMenu
	{
		display: flex;
		position:fixed;
		bottom: 0;
		grid-area: footer;
		background-color: #413746;
		width: 100%;
		height: 2rem;
		justify-content: center;
		align-items: center;
	}
	.mobileMenu span
	{
		margin: 0 25px
	}
	.mainGrid p
	{
		display: none;
	}
	
	.mainGrid h3
	{
		margin: 0px;
	}

    .questionButtons {
		position: relative;
		width: 200px;
		height: 200px;
		left: 40px;
		top: 40px;
	}

}