* {
	box-sizing: border-box;
}
html
{
	background-color: #add8e6;
	/*
	#8ED4E3
	#87ceeb
	#87cefa
	#b0e0e6
	#add8e6 *
	#95D6CC går mer over i mint
	*/
}

body {
	margin: 0;
	overflow-y: scroll;
}

#grid-container {
	height: 100vh;
	display: grid;
	grid-template-rows: 40px 10fr 2.2rem;
	grid-template-areas:
		"header"
		"main"
		"footer";
}

#headerContent {
	grid-area: header;
	background-color: #63b4cf;
	padding: 10px;
	text-align: left;
}

#mainContent
{

}

#footerContent {
	display: flex;
	grid-area: footer;
	background-color: #3ca1c3;
	width: 100%;
	height: 1.1rem;
	bottom: 0;
}
.logoWrap {
	float: left;
	margin-right: 20px;
}

.inner-menu {
	display: inline-block;
	float: right;
	position: relative;
}

.menuWrap {
	float: right;
	margin: auto;
	font-size: 12px;
	text-transform: uppercase;
	text-align: left;
	line-height: 1.3;
	position: relative;
	display: inline-block;
	width: 100%;
}

.menuWrap ul li a {
	display: inline-block;
}

.menuWrap ul {
}

.menuWrap li {
	float: left;
	margin-left: 25px;
	list-style-type: none;
}

.menuWrap a {
	display: inline-block;
	text-decoration: none;
	color: inherit;
	height: 25px;
	line-height: 25px;
	box-sizing: border-box;
}


.footer-text {
	display: flex;
	width: 100%;
	color: inherit;
	text-decoration: none;
	justify-content: center;
	color: #ffffff;
}

.mainImageContainer {
}

.mainGrid {
	display: grid;
	gap: 30px 30px;
	margin-bottom: 50px;
	grid-template-rows: 0.5fr 1fr;
	grid-template-columns: 0.05fr 1fr 1fr 1fr 1fr 0.05fr;
	grid-template-areas:
		"m m m m m m"
		"1 a b c d 2";
	grid-row-end: 1px;
	z-index: 10;
	grid-area: main;
}

.mainGrid img {
	width: 100%;
	height: auto;
}

.mainGrid h3 {
	text-align: center;
}

.mainGrid p {
	text-align: center;
}

.grid1 {
	width: 100%;
	height: 550px;
	grid-column: 1 / 7;
}

.grid1 img {
	top: 0;
	margin: auto;
	width: 100%;
	height: 500px;
	grid-column: 1 / 2;
}

.grid-item1 {
	grid-area: a;
}

.grid-item1:hover, .grid-item2:hover, .grid-item3:hover, .grid-item4:hover {
	height: auto;
	background-color: #e9e9e5;
	cursor: pointer;
}

.grid-item2 {
	grid-area: b;
}

.grid-item3 {
	grid-area: c;
}

.grid-item4 {
	grid-area: d;
}

#productBox {
	z-index: 5;
	background-color: #ffffff;
	width: 300px;
	height: 500px;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	border: #000000;
	border-style: solid;
	border-width: 2.2px;
	transform: translate(-50%, -50%);
}
#productBox img {
	z-index: 4;
	width: 100%;
	height: auto;
}
#productBox .slides img {
	z-index: 4;
	width: 25%;
	height: auto;
	float: left;
}
#productBox h3 {
	z-index: 4;
	text-align: center;
}
#productBox p {
	z-index: 4;
	text-align: center;
}

.prodOverlay {
	display: fixed;
	width: 100%;
	height: 100%;
	background-color: #8f8f8f;
	z-index: 6;
	opacity: 0.5;
}

.prodShow {
	z-index: 7;
	width: 200%;
	height: 200%;
	position: fixed;
}

.hidden {
	visibility: hidden;
}

.mobileMenu {
	display: none;
}
.questionButtons {
	display: none;
}

.basketList {
	padding: 0px;
}

.basketList li {
	border-style: solid;
	border-color: black;
	color: white;
	height: 80px;
	list-style-type: none;
	list-style-position: inside;
	background-color: #504A73;
	padding:0px;
	margin:10px;
}

@media only screen and (max-width: 1200px) {
	* {
		box-sizing: border-box;
	}

	#productBox {
		width: 80vw;
		height: 80vh;
	}

	.grid1 {
		height: 250px;
		grid-column: 2 / 4;
	}
	.grid1 img {
		width: 100%;
		top: 0;
	}

	#grid-container {
		height: 100vh;
		display: grid;
		grid-template-rows: 40px 10fr 2.2rem;
		grid-template-areas:
			"main"
			"footer";
		background-color: #add8e6;
	}

	.grid-item1:active, .grid-item2:active, .grid-item3:active, .grid-item4:active {
		height: auto;
		background-color: #e9e6e5;
	}

	.grid1:active {
		background-color: #e9e9e5;
	}

	.mainGrid {
		width: auto;
		height: 100px;
		display: grid;
		gap: 20px 20px;
		margin-bottom: 0px;
		grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
		grid-template-columns: 0.05fr 1fr 1fr 0.05fr;
		grid-template-areas:
			"1 m m 2"
			"1 a b 2"
			"1 c d 2"
			"q q q q";
		grid-row-end: 1px;
		z-index: 10;
	}
	.mainGrid img {
		width: 100%;
		height: auto;
	}
	#footerContent {
		display: none;
	}

	#headerContent {
		display: none;
	}
	.mobileMenu {
		display: flex;
		position: fixed;
		bottom: 0;
		grid-area: footer;
		background-color: #67647d;
		width: 100%;
		height: 2.2rem;
		justify-content: center;
		align-items: center;
	}
	.mobileMenu span {
		margin: 0 25px;
	}
	.mainGrid p {
		display: none;
	}

	.mainGrid h3 {
		margin: 0px;
	}

	.questionButtons {
		width: 100%;
		height: 238px;
		grid-area: q;
		grid-column: 1 / 5;
		list-style-position: inside;
		display: inline-block;
	}
	.questionButtons ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.questionButtons li {
		border-style: solid;
		border-radius: 3px;
		border-width: thin;
		padding: 9px;
		margin: 25px;
		background-color: rgb(197, 197, 197);
	}
}

/* MOBILE
@media only screen and (max-width: 10cm) {
	* {
		box-sizing: border-box;
	  }
	
	#productBox {width: 80vw; height: 80vh;}

	.grid1 {
		width: 100%;
		height: 215px;
		grid-column: 1 / 4;
	}
	.grid1 img {
		position: absolute;
		top: 0;
	}

	.mainGrid {
		width: auto; 
		height: 100px;
		display: grid;
		gap: 20px 20px;
		margin-bottom: 0px;
		grid-template-rows: 0.5fr 1fr 0.5fr 1fr;
		grid-template-columns: 0.05fr 1fr 1fr 0.05fr;
		grid-template-areas:
			"m m m m"
			"1 a b 2"
			"1 c d 2"
			"q q q q";
		grid-row-end: 1px;
		background-color: #ffffff;
		z-index: 10;
	}
	.mainGrid img {
		width: 100%;
		height: auto;
	}
	#footerContent
	{
		display: none;
	}

	#headerContent {
		display:none;
	}
	.mobileMenu
	{
		display: flex;
		position:fixed;
		bottom: 0;
		grid-area: footer;
		background-color: #413746;
		width: 100%;
		height: 2rem;
		justify-content: center;
		align-items: center;
	}
	.mobileMenu span
	{
		margin: 0 25px
	}
	.mainGrid p
	{
		display: none;
	}
	
	.mainGrid h3
	{
		margin: 0px;
	}

    .questionButtons {
		width: 100%;
		height: 238px;
		grid-area: q;
		grid-column: 1 / 5;
		list-style-position: inside;
		display: inline-block;
	}
	.questionButtons ul{
		list-style-type: none;
		margin:0;
		padding:0;
	}
	.questionButtons li{
		border-style: solid;
		border-radius: 3px;
		border-width: thin;
		padding: 9px;
		margin: 25px;
		background-color:rgb(197, 197, 197) ;
	}

} */
